body{
    /* background-color:rgb(101, 217, 221) ; */
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
}
.calculatorform{
    height: 450px;
    width: 350px;
    border: 1.2px solid gray;
}
.main .calculatorform div{
    width: 100%;
    height: calc(450px/6);
    display: flex;
}
.main .calculatorform div input{
    height: 100%;
    width: 100%;
    font-size: 20px;
}
.btn input{
    padding: 15px 15px;
}
.btn .clearbtn{
    background-color: rgb(71, 86, 87);
    outline: none;
    border: 0.5px solid gray;
    color: white;
}
.numbers{
    background-color: rgb(23, 23, 68);
    color: white;
}